:root {
    --navbar-bg-color: transparent;
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --nav-link-bg-color: rgba(0, 0, 40);
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}

#navbar {
    --navbar-height: 64px;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    letter-spacing: 2px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(125, 125, 125, 0.8);
}

#page-title {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline;
}

.navbar-links {
    list-style: none;
    background-color: var(--nav-link-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
    padding: 0;
}

.navbar-link {
    display: inline-flex;
    align-items: center;
    justify-content: initial;
    font-size: 15px;
    color: white;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.navbar-link-content {
    margin-left: 15px;
}

.navbar-link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}
  
#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded='true'] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:first-child {
    transform: rotate(45deg);
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:nth-child(2) {
    opacity: 0;
}
  
#navbar-toggle[aria-expanded='true'] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: absolute;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    margin: 0;
}

#navbar-toggle[aria-expanded='true'] + #navbar-menu {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded='true'] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded='true'] + #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      position: static;
      flex-direction: row;
      height: 100%;
    }

    .navbar-links {
        background-color: transparent;
        border: 3px solid transparent;
    }

    .navbar-link {
        font-size: 12px;
        padding: 0;
        border-bottom: none;
    }

    .navbar-link:hover {
        background-color: transparent;
        border-bottom: none;
    }

    .navbar-link-content {
        margin-left: 0;
    }

    .dot {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-link {
        margin: 0;
        padding: 0 10px;
        border-top: 3px solid transparent;
    }

    .navbar-link:hover {
        border-top: 3px solid orange;
    }
}

@media screen and (min-width: 1000px) {
    .navbar-link {
        margin: 15px;
        height: var(--navbar-height);
        border-top: 5px solid transparent;
    }

    .navbar-link:hover {
        border-top: 5px solid orange;
    }
}