.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.selector-item:hover {
    color: white;
}

.mobile-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 1px solid gray;
    height: 50px;
}

.mobile-selector-item {
    border-bottom: 4px solid transparent;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}

.statistics-container {
    border: 1px solid gray;
    margin: 5px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic-name, .statistic {
    font-weight: bold;
}

.statistic-name {
    color: gray;
    font-size: 10px;
}

.statistic {
    margin-left: auto;
}