.selector-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(170, 170, 170);
    font-weight: bold;
}

.selector-item:hover {
    color: white;
}

.selector-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 1px solid gray;
    height: 50px;
}

.selector-top-item {
    border-bottom: 4px solid transparent;
}