.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-content {
    flex-direction: column;
    padding: 20px;
    border: 3px solid red;
}

.planet-image {
    width: 200px;
    height: 200px;
    padding: 80px;
}

.main-information {
    display: flex;
    flex-direction: row;
}

.text-container {
    border: 3px solid orange;
}

.planet-name, .wikipedia-source {
    text-align: center;
}

.text {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

.desktop-selector {
    display: none;
}

.dots-span {
    margin: 0 3px;
}

.wikipedia-source {
    margin-top: 30px;
    color: gray;
    font-size: 13px;
}

.wikipedia-link {
    text-decoration: underline;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.wikipedia-link:hover {
    color: white;
}

.images-container {
    position: relative;
}

.geology-image {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
    margin-top: 150px;
}

@media screen and (min-width: 700px) {
    .main-information div {
        flex: 1;
    }

    .text-container {
        font-size: 12px;
    }

    .desktop-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 3px solid green;
        padding-left: 40px;
        padding: 20px 0 20px 30px;
        gap: 15px;
    }

    .desktop-selector-item {
        border: 1px solid gray;
        width: 300px;
        font-size: 12px;
    }

    .desktop-selector-item:hover {
        background-color: rgb(80, 80, 80);
    }

    .desktop-selector-num {
        color: rgb(220, 220, 220);
        margin: 0 20px;
    }
}