.tab-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.planet-image {
    width: 200px;
    height: 200px;
    padding: 80px;
}

.main-information {
    display: flex;
    flex-direction: row;
}

.planet-name, .wikipedia-source {
    text-align: center;
}

.planet-name {
    font-size: 40px;
}

.text {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    padding: 0 30px;
}

.desktop-selector {
    display: none;
}

.dots-span {
    margin: 0 3px;
}

.wikipedia-source {
    color: gray;
    font-size: 13px;
    margin-top: 30px;
}

.wikipedia-link {
    text-decoration: underline;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.wikipedia-link:hover {
    color: white;
}

.images-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geology-image {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
    margin-top: 150px;
}

@media screen and (min-width: 700px) {
    .text-container, .desktop-selector {
        flex: 1;
        padding-left: 30px;
    }

    .planet-image {
        height: 400px;
        width: 400px;
    }

    .geology-image {
        width: 180px;
        height: 180px;
        margin-top: 350px;
    }

    .planet-name, .wikipedia-source {
        text-align: left;
    }

    .planet-name {
        font-size: 45px;
    }

    .text {
        font-size: 14px;
        height: 120px;
        padding: 0;
    }

    .desktop-selector {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 15px;
    }

    .desktop-selector-item {
        border: 1px solid gray;
        font-size: 14px;
        padding: 15px;
    }

    .desktop-selector-item:hover {
        background-color: rgb(80, 80, 80);
    }

    .desktop-selector-num {
        color: rgb(220, 220, 220);
        margin: 0 20px;
    }
}

@media screen and (min-width: 1000px) {
    .tab-content {
        flex-direction: row;
        margin-top: 150px;
    }

    .images-container {
        flex: 2;
    }

    .main-information {
        flex: 1;
        flex-direction: column;
    }

    .planet-name {
        font-size: 50px;
    }

    .text {
        font-size: 16px;
    }

    .desktop-selector {
        padding: 30px;
    }

    .wikipedia-source {
        margin-top: 70px;
    }
}